[Unit]
Description="Cleans docker registry"
Requires=network-online.target
Wants=registry-cleaner.timer

[Service]
Type=oneshot
User=registry-cleaner
Group=docker
WorkingDirectory=/var/lib/registry-cleaner
ExecStart=/usr/bin/python /var/lib/registry-cleaner/main.py

[Install]
WantedBy=network-online.target
