[Unit]
Description="Cleans docker registry"
Requires=network-online.target
Wants=registry-cleaner.timer

[Service]
Type=oneshot
User=registry-cleaner
Group=docker
ExecStart=/usr/bin/python /opt/registry-cleaner/main.py

[Install]
WantedBy=network-online.target
